* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(224, 167, 93);
  background-size: cover;
  height: 100vh;
}

#app {
  font-family: "Poppins", sans-serif;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  width: min(90vw, 500px);
  top: 60px;
}

#app-container {
  position: relative;
  background: linear-gradient(#5E1675 50%, #a32258) ,50%;
  padding: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  border-radius: 12px;
}

#wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 20px;
}

#wrapper input {
  border-radius: 14px;
  width: 100%;
  padding: 16px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 1rem;
  transition: all .6s;
}

#wrapper input::placeholder {
  color: #ccc5c5;
  letter-spacing: .2rem;
}

#wrapper input:focus {
  box-shadow: 0 4px 7px rgba(110, 110, 109, 0.6);
}

#wrapper button {
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: rgb(224, 167, 93);
  font-size: 1rem;
  font-weight: bold;
  transition: all .4s ease-out;
}

#wrapper button:hover {
  background-color: aquamarine;
}

#tasks {
  margin-top: 30px;
  border-radius: 0.5em;
  width: 100%;
  position: relative;
  padding: 1rem .5rem;
}

.task {
  background-color: #ffffff;
  padding: 0.8rem 1rem;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  align-items: center;
  cursor: pointer;
}

.task:not(:first-child) {
  margin-top: 1rem;
}

.task input[type="checkbox"] {
  position: relative;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #e1e1e1;
}

.task input[type="checkbox"]:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.task input[type="checkbox"]:checked {
  background-color: #5a95ff;
  border-color: #5a95ff;
}

.task input[type="checkbox"]:checked::before {
  position: absolute;
  content: "";
  color: #ffffff;
  font-size: 0.8rem;
  font-family: 'Franklin Gothic Medium';
}

.task span {
  font: 0.8rem;
  font-weight: 400;
  word-break: break-all;
}

.task button {
  color: #ffffff;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.edit {
  background-color: #5a95ff;
}

.delete {
  background-color: #ff5c5c;
}

#pending-tasks span {
  color: #5a95ff;
}

.completed {
  text-decoration: line-through;
  color: #a0a0a0;
}

#error {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, .2);
  color: rgb(233, 43, 43);
  font-size: 1.1rem;
  letter-spacing: .2rem;
  display: none;
}


@media (max-width: 500px) {
  #app-container {
    padding: 40px;
  }
  #wrapper input {
    padding: 12px;
  }
  #wrapper input::placeholder {
    letter-spacing: 0;
  }
  .task span {
    font-size: .7rem;
  }
}